.bar-header .mall-link,
.bar-header .show-group-members {
    width: 33px;
    height: 33px;
    font-size: 24px!important;
    line-height: 33px;
}
.notice-dot {
    position: absolute;
    top: 8px;
    right: 0;
    border-radius: 90%;
    width: 6px;
    height: 6px;
    display: none;
}
.notice-dot.active {
    display: block;
}
.connection-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10000;
}
.connection-modal .connection-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 36px;
    margin-top: -18px;
    margin-left: -250px;
    text-align: center;
}
.chat-input-bar .add-more {
    font-size: 33px!important;
}
.chat-input-bar .add-phiz {
    font-size: 32px!important;
}
.chat-input-bar .send-msg-btn {
    width: 54px;
}
.chat-input-bar .msg-input-label {
    position: absolute;
    left: 76px;
    right: 69px;
    height: 34px;
    padding-left: 10px;
    border-radius: 2px;
}
.chat-input-bar .msg-input-label input {
    padding-right: 10px;
}
.msg-content .messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.msg-content .messages li {
    display: block;
    float: left;
    clear: both;
    margin: 0 0 10px;
    padding: 0;
    max-width: 80%;
}
.msg-content .messages li:first-child {
    margin-top: 5px;
}
.msg-content .messages li:last-child {
    margin-bottom: 5px;
}
.msg-content .messages li.mine {
    float: right;
}
.msg-content .messages .avatar,
.msg-content .messages .info {
    float: left;
}
.msg-content .messages .mine .avatar,
.msg-content .messages .mine .info {
    float: right;
}
.msg-content .messages .avatar {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 90%;
}
.msg-content .messages .mine .avatar {
    margin-left: 0;
}
.msg-content .messages .info {
    max-width: 80%;
}
.msg-content .messages .mine .info {
    margin-right: 10px;
}
.msg-content .messages .username {
    margin-bottom: 2px;
    color: #9E9898;
    font-size: .5rem;
}
.msg-content .messages .content {
    padding: .6875rem;
    border-radius: .75rem;
    background: #e6e5eb;
    color: #383641;
    font-size: .875rem;
}
.msg-content .messages li.mine .content {
    background: #158ffe;
    color: #fff;
}
.counter {
    position: relative;
    display: inline-block;
    height: 16px;
    min-width: 16px;
    top: -8px;
    margin-left: 5px;
    border-radius: 8px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
}
.sort-selections {
    position: absolute;
    top: 44px;
    right: 0;
    display: none;
}
.sort-selections.show {
    display: block;
}
.sort-selections .item .icon {
    display: none;
}
.sort-selections .item.current .icon {
    display: inline-block;
}
.sort-selections .item.current[data-order='desc'] .asc {
    display: none;
}
.sort-selections .item.current[data-order='asc'] .desc {
    display: none;
}